<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todas las peliculas'}) %>
<body>
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- todos los productos -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todas las peliculas</h2>
			</div>
			<% peliculas.map((result)=>{ %>
				
			<div class="col-sm-12 col-md-6 col-lg-3">
				<a href="/movies/detail/<%= result.id%>">
					<div class="card text-white bg-dark mb-3 shadow-sm p-3 mb-5 bg-black rounded text-white">
					  
					  <div class="card-body">
						<h5 class="card-title"><%= result.title %></h5>
						<p class="card-text">This is a short card.</p>
					  </div>
					</div>
				</a>
				</div>
			
			<% }) %>
	</div>

	<!-- /todos los productos -->

	<!-- footer
	<%- include('partials/footer') %>
	/footer -->
</body>	
</html>